*{
	margin:auto;
}
.title{
	color: red;
	height: 250px;
	text-align: center;
	font-family: Arial;
}
.main-nav{
	width: 100vw;
	background-color: grey;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
	h1{
		padding-top: 20px;
		padding-bottom: 10px;
	}
}
header{
	background-color:black;
}
.logo{
	display:flex;
	justify-content:center;
}
img{
	margin:auto;
}
.main-nav a{
	text-decoration: none;
	color:white;
	font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fjalla-one-regular {
  
}
